# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
dist/
build/
*.egg-info/

# Poetry
poetry.lock

# Variables d'environnement
.env
.env.*

# PostgreSQL
*.sql.bak

# Node / React
node_modules/
dist/
build/
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
